**/target
**/__pycache__
mutants/
/book/book
/book/src/extension/breakout
/book/src/home/repl*
benchmarks/results
temp/
.cargo/*
!.cargo/mutants.toml
/.vscode
.claude/
profile.json*
node_modules/
tools/vscode/out/
tools/vscode/server/
tools/vscode/LICENSE
tools/vscode/*.vsix
/book/src/lunacade/wasm
/book/src/lunacade/api.json
