/target
**/__pycache__
mutants/
/book/book
benchmarks/results
benchmarks/runners/target
examples/bevy/target
crates/bevy/target
temp/
.cargo/*
!.cargo/mutants.toml
/.vscode
.claude/
profile.json*
node_modules/
tools/vscode/out/
tools/vscode/server/
tools/vscode/LICENSE
tools/vscode/*.vsix
